/* 宽屏电脑 */
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown > .dropdown-menu {
        margin: 0;
        min-width: inherit;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0;
    }

    .dropdown > .dropdown-menu > li > a {
        text-align: center;
        padding: 5px 0;
    }

    .dropdown > .dropdown-menu > li > a:hover {
        background: none;
        color: red;
    }

    .nav-pills > li {
        line-height: 60px;
    }

    .nav-pills > li > a {
        border-radius: 0;
        color: #333;
        font-size: 16px;
        padding: 10px 20px;
        border-bottom: solid 2px #fff;
    }

    .nav-pills > li:hover > a,
    .nav-pills > li > a:focus,
    .nav-pills > li > a:hover {
        border-radius: 0;
        color: red;
        background-color: #fff;
        border-bottom: solid 2px red;
    }

    .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        color: #333;
        border-bottom: solid 2px red;
        background: none;
    }

    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img {
        width: 100%;
        max-height: 450px;
    }

    .small_carousel > .carousel-inner > .item > a > img,
    .small_carousel > .carousel-inner > .item > img {
        width: 100%;
        height: 300px;
    }

    .nav-tabs {
        background: #f8f8f8;
    }

    .nav-tabs > li > a {
        color: #333;
        border-bottom: solid 2px #ddd;
        background: #f8f8f8;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        background-color: #f8f8f8;
        border-bottom: solid 2px red;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .tab-content {
        height: 258px;
        background: #f8f8f8;
        padding: 0 10px;
        overflow: hidden;
    }

    .tab-content li {
        position: relative;
        height: 42px;
        line-height: 42px;
    }

    .tab-content li a {
        width: 85%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;
        text-decoration: none
    }

    .tab-content li a:hover {
        color: red;
    }
}

/* 平板电脑和小屏电脑之间的分辨率的样式 */
@media (min-width: 768px) and (max-width: 979px) {
}

/* 横向放置的手机和竖直放置的平板之间分辨率的样式 */
@media (max-width: 767px) {
}

/* 横向放置的手机及分辨率更小的设备的样式 */
@media (max-width: 480px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown > .dropdown-menu {
        margin: 0;
        min-width: inherit;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0;
    }

    .dropdown > .dropdown-menu > li > a {
        text-align: center;
        padding: 5px 0;
    }

    .dropdown > .dropdown-menu > li > a:hover {
        background: none;
        color: red;
    }

    .nav-pills > li {
        line-height: 60px;
    }

    .nav-pills > li > a {
        border-radius: 0;
        color: #333;
        font-size: 16px;
        padding: 10px 20px;
        border-bottom: solid 2px #fff;
    }

    .nav-pills > li:hover > a,
    .nav-pills > li > a:focus,
    .nav-pills > li > a:hover {
        border-radius: 0;
        color: red;
        background-color: #fff;
        border-bottom: solid 2px red;
    }

    .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        color: #333;
        border-bottom: solid 2px red;
        background: none;
    }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        width: 100%;
        max-height: 450px;
    }

    .small_carousel > .carousel-inner > .item > a > img, .small_carousel > .carousel-inner > .item > img {
        width: 100%;
        height: 300px;
    }

    .nav-tabs {
        background: #f8f8f8;
    }

    .nav-tabs > li > a {
        color: #333;
        border-bottom: solid 1px #ddd;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        background-color: #f8f8f8;
        border-bottom: solid 1px red;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}